.home {
    background-color: #f5f5f5; 
}

.card-one {
    margin-top: 50px;
    width: 920px;
    height: 600px;
    margin-left: -5px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}

.card-two {
    margin-top: 50px;
    margin-left: 30px;
    height: 285px;
    width: 390px;
    background-color: #e0f2f1;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.1);
}

.card-sec-two {
    margin-top: -25px;
}

.card-img-top {
    margin-top: -629px;
    width: 505px;
    margin-left: 450px;
}

.card-one-title {
    width: auto;
    margin-left: -280px;
    font-size: 60px;
    color: #00796b; 
}

.card-one-paragraph {
    margin-top: 0px;
    width: 490px;
    margin-left: 50px;
    font-size: 30px;
    color: #212121;  
}

.card-one-button {
    margin-top: 0px;
    font-size: 50px;
    background-color: #00796b; 
    color: #ffffff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.card2-img-top {
    margin-top: -160px;
    width: 325px;
    margin-left: 40px;
}

.card-two-paragraph {
    margin-top: 30px;
    width: 200px;
    margin-left: 25px;
    font-size: 20px;
    color: #424242;  
}

.card-two-title {
    margin-left: -120px;
    font-size: 30px;
    font-weight: 400;
    color: #00796b; 
}

.card3-img-top {
    margin-top: -197px;
    width: 385px;
    margin-left: 90px;
}

.card4-img-top {
    margin-top: -165px;
    width: 225px;
    margin-left: 159px;
}

.card-four-title {
    margin-left: -150px;
    font-size: 30px;
    font-weight: 600;
    color: #00796b;  
}

.card5-img-top {
    margin-top: -225px;
    width: 215px;
    margin-left: 180px; 
}

.card-five-title {
    margin-left: -140px;
    font-size: 30px;
    font-weight: 400;
    color: #00796b;
}