.card-one{
    margin-top: 50px;
    width: 650px;
    height: 525px;
    margin-left: 35px;
    
}

.card-two{
    margin-top: 50px;
    width: 100px;
    margin-left: 30px;
    height: 250px;
    width: 350px;
}

.card-sec-two{
    margin-top: -25px;
}